html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: darkcyan;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 5%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.fighter_name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
    color: aliceblue;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}

.modal {
    display: flex;
    align-items: center;
}

.selected {
    background-color: aqua;
    border-color: aqua;
}

.selected:focus {
    box-shadow: 0 0 0 0.2rem aqua;
    background-color: aqua;
    border-color: aqua;
}

.start-fight-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.second-fighter-col .fighter > img.fighter-image-fight {
    transform: scaleX(-1);
}

.fighter-image-fight {
    width: 70%;
    height: 350px;
    align-self: center;
}

.fighter-name {
    align-self: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: aliceblue;
}

.strike-btn {
    position: absolute;
    top: 50%;
    left: 40%;
}

.select {
    width: 120px;
    align-self: center;
}

.exit-battle-btn {
    font-size: 1rem;
}

.progress {
    width: 65%;
    background-color: darkcyan;
}

.winner {
    height: 260px;
    width: 50%;
    margin: auto;
}

.modal-header .close {
    padding: 0;
    margin: 0;
}

.modal-title {
    margin: auto;
}

.progress-bar-2 {
    display: flex;
    float: right;
}

.invalid-feedback,
.valid-feedback {
    margin-top: -0.75rem;
}

.carousel-control-next {
    right: -65px;
}

.carousel-control-prev {
    left: -90px;
}

.carousel {
    margin-top: 60px;
}

.fight-details {
    display: flex;
    justify-content: center;
    color: #11302f;
    height: 200px;
    overflow: auto;
    background-color: #64b5b1;
    width: 250px;
    margin-left: 13%;
    border-radius: 5px;
}

.deleteEl {
    padding-bottom: 10px;
    color: #ffffff;
}

.deleteEl:active, .deleteEl:hover {
    color: #ab0f2c;
}

